/sbt
**/target/
/.bsp/
/.idea/
**/.bloop/
/.metals/
**/metals.sbt
/.vscode/
/sbt.bat
/sbtw.bat
/sbt.ps1
/sbtw-sbt-launch-bundle/
/java_with_opts.bat
/impractical/simple-nat/shared/src/main/scala/net/scalax/simple/nat/number49/RunMain.scala